<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css.css">
    <script src="js.js"></script>
</head>
<body>
     <nav class="block">
         <div class="nom"><h4>BIENVENUE DANS LA CREATION DE VOTRE CV</h4><br/>
                <img src="IMAGE.jpg" alt="mlm"></div>
        <br/><br/><br/><br/>
        
          <h4>appuyez sur le signe + pour changer l'image</h4>
        
        
        <ul>
               
            <li><h2>information personnelles</h2></li>
         <ol>
             <li><h4><a href="#A">veuillez entrer vos informations personnelles comme indiqué</a></h4>
            </li>
             
         </ol>
        <br/>

         <li><h2>Experiences Professionnelles</h2> <ol>
             <li><a href="#B"><h4>entrez votre experience</h4></a></li></ol></li>

            <li><h2>Langues</h2> <ol>
                 <li><a href="#C"><h4>quelle langue parlez vous</h4></a>
                </li></ol>
                 <li><h2>HOBBY</h2> <ol>    
             <li><a href="#D"><h4>entrez vos differents hobbys</h4></a></li>
             <li><h2>couleur</h2> <ol>
                <li><a href="#E"><h4>quelle couleur voulez vous</h4></a></li></ol> 
         </ul>
         <div class="footer"></div>
     </nav>
     <section>
         <nav class="nav2">
            <div id="head">
                <div class="loader"></div>
                <h1>Curriculum Vitae</h1>
                <a href="" download="CV-pdf"><img src="cv_files/telecharger.png" alt="icon download" width="30px " height="30px"></a>
            </div>
         </nav>
         <div class="conteneur">
                
                <div class="contenu">
                    <h2 id="A">Informations personnelles</h2>
                    <p><b>Nom :</b></p>
                    <p><b>Adresse :</b></p>
                    <p><b>Mail :</b><a href="mailto:joelleornelle@Gmail.com"></a></p>
                    <p><b>Tel :</b></p>
                    <p><b>Nationalite :</b></p>
                    <p><b>Date De Naissance :</b></p>
                    <p><b>Region d'origine :</b></p>
                    <p><b>diplome apres bac :</b></p>
                    <p><b>ecole :</b></p>
                </div><hr><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br><hr><br>
                <div class="contenu">
                   
                </div>
                
               
                
                <hr>
                <div class="contenu">
                    <h2 id="B">competences Professionnelles</h2><br>
                    <p><b>entrez vos differentes competences professionnelles: <div class="contenu">
                        <h2 id="C">Langues</h2><br>
                        <p>entrez les langues aue vous parlez ici:</p>
                        
                    </div></b></p>
                    
                    
                </div>
                <div class="contenu">
                    <h2 id="C">Langues</h2><br>
                    <p>entrez les langues que vous parlez ici:</p>
                    
                </div> 
                <div class="contenu">
                    <h2 id="D">Hobby</h2><br>
                    <p>entrez les langues que vous parlez ici:</p>
                </div>
                
                <div class="contenu">
                    <h2 id="D">couleur</h2><br>
                    <p>entrez les couleurs:</p>
                </div>
    
     </section>

</body>
</html>

